*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
}

.card{
    width: 455px;
    max-width: 500px;
    background: linear-gradient(135deg, #149050, #e94444);
    color: #fff;
    margin: 30px auto 0;
    border-radius: 0px 44px 0px;
    box-shadow: 0 20px 30px 0 rgb(0, 0, 0);
    padding: 35px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.search input{
   border: 0;
   outline: 0;
   background: rgba(211, 168, 168, 0.679);
   color: white;
   padding: 10px 15px;
   border-radius: 20px;
   height: 50px;
   flex-grow: 1;
   margin-right: 16px;
   font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #fff;
    color: #000;
    padding: 10px 15px;
    border-radius: 20px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
}

.weather-icon{
    margin: auto;
    width: 150px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 400;
    
}
.weather h2{
    font-size:40px;
    font-weight: 400;
    margin-top: -10px;

}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;

}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}